*{
    font-family: "Montserrat", sans-serif;
}

:root {
    --panache-black: #1b2026;
    --panache-grey: #1a1a1a;
    --panache-white: #f7f7fd;
    --panache-purple: #7200ff;
    --panache-purple-transparent: rgba(114, 0, 255, 0.5);
}

::selection {
    background-color: var(--panache-purple);
    color: white;
}

.pnc-step-circle {
    width: 100%;
    max-width: 120px;
    aspect-ratio: 1;
}

.cover-pnc {
    background-image: url('../img/pnc-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-pnc{ color: var(--panache-purple); }

.bg-pnc{ background: var(--panache-purple); }
.bg-darker{ background-color: #1a1a1a !important; }

.pnc-outline-sm{ border: 2px solid var(--panache-purple); }
.pnc-outline{ border: 3px solid var(--panache-purple); }
.pnc-outline-lg{ border: 4px solid var(--panache-purple); }

.vh-25 { height: 25vh; }
.vh-50 { height: 50vh; }
.vh-75 { height: 75vh; }

.icon-sm { height: 0.875em; width: auto; }
.icon{ height: 1.25em; width: auto; }
.icon-lg { height: 1.75em; width: auto; }